<h1>Let's Talk!</h1>
<div>
    {{#if currentUser.funnyAge}}
        Hey <b>{{currentUser.username}}</b>! According to your name you are {{currentUser.funnyAge}} years old 😉
    {{/if}}
</div>

<div>
<link rel= "stylesheets" href= "style.css">
</div>
<div class="teamwork"><image src= "../public/stylesheets/img/teamwork.jpg"></image>
</div> 

<div class="bubble-1"> 
    <p>Welcome</p>
  </div>
<br>
<br>
<br>
<br>
<div class= "ironhack logo"> 
    <image src= "../public/stylesheets/img/ironhack logo.jpg"></image>
</div>
<br>
<div class="bubble-2"> <p>Ironhackers</p> </div>
<br>
<br>
<br>
<br>
<br>
<br>
<div class= "logo"> 
     <image src="../public/stylesheets/img/logo.png"></image>
     </div>
