<h1>Welcome to &langd; Let's talk &rangd;</h1>
<h3>
    {{#if currentUser.funnyAge}}
        Hey <b>{{currentUser.username}}</b>! According to your name you are {{currentUser.funnyAge}} years old 😉
    {{/if}}
</h3>
